<input placeholder="Item name..." [(ngModel)]="query">

<table>
  <tr>
    <th (click)="setOrder('id')" >
      id
      <span class="glyphicon sort-icon"
            *ngIf="key =='name'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">test</span>
    </th>
    <th (click)="setOrder('name')" >name</th>
    <th>img</th>
    <th>tagline</th>
  </tr>
  <single-item *ngFor="let beer of beers | filterPipe:'name':query | orderBy: order:!reverse"
               [beer]="beer"
                class="single-item">
  </single-item>
  <h2 *ngIf="(beers | filterPipe: 'name':query).length === 0">No matching elements</h2>

</table>


<app-favorites></app-favorites>
