<tr>
  <td>
    <button mat-mini-fab disabled>{{beer.id}}</button>
  </td>
  <td>{{beer.name}} <br>
    <button type="button" (click)="goToBeer($event, beer.id)" mat-raised-button color="primary">Details
    </button>
    <button type="button" *ngIf="isAdded" (click)="removeFromFav(beer)" mat-raised-button color="warn">Remove</button>
    <button type="button" *ngIf="!isAdded" (click)="addToFavorites(beer)" mat-raised-button>Add</button>
  </td>
  <td><img class="item__image" style="width:50px;" src="{{beer.image_url}}" alt="{{beer.name}}"/></td>
  <td> {{beer.tagline}} <br>
  </td>
</tr>
