<div class="container beer" *ngIf="beer">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img class="beer__image" src="{{beer.image_url}}"/>
    </div>
    <div class="col-sm-9">
      <h3 class="beer__name">{{beer.name}}</h3>
      <p class="beer__tagline">{{beer.tagline}}</p>

      <hr class="special-line"/>

      <div class="beer__data">
        <div><strong>IBU:</strong> {{beer.ibu}}</div>
        <div><strong>ABV:</strong> {{beer.abv}}%</div>
        <div><strong>EBC:</strong> {{beer.ebc}}</div>
      </div>

      <div class="beer__descrciption">
        <p>{{beer.description}}</p>
        Best served with:
        <!--<ul>-->
        <!--<li *ngFor="let item of beer.food_pairing">{{item}}</li>-->
        <!--</ul>-->
      </div>
    </div>
  </div>
</div>
