<app-loader></app-loader>
<div>
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="container" style="">

        <p class="app-desc">Find your taste!</p>
        <div class="col-8">
          <button type="button"
                  mat-raised-button
                  routerLink="/beers"
                  routerLinkActive="active-link">beers list
          </button>
          <!--<button type="button"-->
                  <!--routerLink="/favorites"-->
                  <!--mat-raised-button-->
                  <!--routerLinkActive="active-link">favorites-->
          <!--</button>-->
        </div>


      </mat-toolbar-row>
    </mat-toolbar>

  </header>

  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>
